<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Indie Starter - Search Result</title>

  <% include ../partials/header %>
  <link rel="stylesheet" href="styles/search.css">
</head>
<body>
  <% include ../partials/navbar %>

  <div class="container search-result">
    <div class="section-header">
      <div class="section-title">
        Admin Page
      </div>
    </div>
    <div class="row">
      <% if(projects.length>0) { %>
      <% projects.forEach(function(project) { %>
      <div class="col-lg-3">
        <div class="projectcard" onclick="openProject(<%= project.pid %>)">
          <div class="projectcard-content">
            <div class="project-title"><%= project.title %></div>
            <div class="project-owner">Brought to you by <%= project.fullname %></div>
            <div class="project-owner"><%= project.country %></div>
            <div class="project-description">
              <%= project.description %>
            </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6">
          <form action=<%="/projects/" + project.pid + "/update" %> method="get">
          <button type="submit" class="btn">UPDATE</button>
         </form>
       </div>
                  <div class="col-lg-6 col-md-6">
          <form action=<%="/project/" + project.pid + "/delete" %> method="post">
          <button type="submit" class="btn">DELETE</button>
         </form>
       </div>
     </div>
          </div>
        </div>
      </div>
      <% }); %>
      <% } else { %>
            <h1><div class="project-title col-lg-12 col-md-12 text-center">No projects found</div></h1>
      <% } %>
    </div>

        <div class="section-header">
      <div class="section-title">
        All Users
      </div>
    </div>
    <div class="row">
      <% if(users.length>0) { %>
      <% users.forEach(function(user) { %>
      <div class="col-lg-3">
        <div class="projectcard" onclick="openProject(<%= user.pid %>)">
          <div class="projectcard-content">
            <div class="project-title"><%= user.username %></div>
            <div class="project-owner"><%= user.fullname %></div>
            <div class="project-owner"><%= user.country %></div>
            <div class="project-description">
              <%= user.description %>
            </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
        <form action=<%="/projects/" + user.id + "/update" %> method="get">
          <button type="submit" class="btn">UPDATE</button>
         </form>
       </div>
                  <div class="col-lg-6 col-md-6">
          <form action=<%="/project/" + user.id + "/delete" %> method="post">
          <button type="submit" class="btn">DELETE</button>
         </form>
       </div>
       </div>
          </div>
        </div>
      </div>
      <% }); %>
      <% } else { %>
            <h1><div class="project-title col-lg-12 col-md-12 text-center">No projects found</div></h1>
      <% } %>
    </div>
  </div>

  <% include ../partials/footer %>
  <% include ../partials/scripts %>
  <script src="scripts/search.js"></script>
</body>
</html>
